* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Grenze Gotisch', cursive;
    font-size: 10px;
    background: url(../img/img-backgr.jpg);
    background-size: cover;
}

.keys {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    min-height: 100vh;
    text-transform: uppercase;

}

.key {
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
    text-shadow: 0 0 2rem black;
    width: 9rem;
    margin: 1rem;
    padding: 1rem .5rem;
    border: .3rem solid rgb(33, 147, 241);
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .5);
    transition: all .07s ease;
    cursor: pointer;
}

.key kbd {
    display: block;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 5em;
}

.sound {
    font-size: 3em;
    color: red;
}

.playing {
    transform: scale(1.1);
    border-color: red;
    box-shadow: 0 0 2rem black;
}
